@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Sedan:ital@0;1&display=swap');

* {
	margin: 0;
	padding: 0;
}
body {
    padding: 0;
    margin: 0;
    font-family: "Open sans", sans-serif; }
main {
	display: grid;
	grid-template-columns: 1fr;
	margin: auto;
    font-family: "Open sans", sans-serif; 
}

#menu {
	display: flex;
	justify-content: space-between;
	font-size: 2rem;
	font-weight: 700;
	text-decoration: none;
	padding: 0.5rem 0.75rem;
	background-color: #007bff; 
	color: white;
	text-align: right;
    
}

h1 {
	text-align: left;
}

h2{
	text-align: center;
	font-size: 2rem;
	margin-top: 5px;
	margin-bottom: -5px;
}

figure {
	margin: 10px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
    background-color: #bee1ef;
}

figcaption {
	margin-top: 5px;
	text-align: center;
}

figure img {
	max-width: 90%;
	height: auto;
}

#menu::after {
	content: "≡";
	font-size: 3rem;
}

nav {
	background-color: #007bff; 
}

.navigation {
	list-style: none;
	margin: 0 auto;
	max-width: 760px;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: white;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover,
navigation a:active {
	color: black;
	background-color: #e0e0e0; /* Light grey */
}

.show li {
	display: block;
}

#menu.show::after {
	content: "X";
}

footer {
	padding: 20px;
	color: white;
	background-color: #007bff;
	text-align: center;
	padding-top: 10px;
	font-size: larger;
}

.active {
	font-weight: bold;
}

.label {
	display: none;
}
