@media (min-width: 60em) {
    
    header {
        height: 120px;
    }
    
    
    .navigation {
        display: flex;
        justify-content: right;
        width: 100%;
    }

    .navigation li {
        display: block;
    }

    .navigation a {
        text-align: right;
        height: 90px
    }

    #menu {
        display: none;
    }

    main {
        padding-top: 15px;
    }
}