@media (min-width: 60em) {

    header {
        height: 120px;
        flex-direction: row; 
        align-items: center; 
        justify-content: space-between; 
    }

    .navigation {
        display: flex;
        justify-content: flex-end; 
        width: 100%;
    }

    .navigation li {
        display: block;
    }

    .navigation a {
        text-align: right;
        height: 90px;
        display: flex;
        align-items: center; 
        padding: 0 20px; 
    }

    #menu {
        display: none;
    }

    main {
        padding-top: 15px;
    }
}
